@page "/Administration/Wineries/{id:int}"
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Kave - Administration - Wineries</PageTitle>

<AuthorizeView Policy="AdminRole">
    <Authorized>
        <MudContainer Fixed="true">
            <MudGrid>
                <MudItem md="11">
                    <MudText Typo="Typo.h4" Class="mt-3 mb-2">@_winery.Name</MudText>
                </MudItem>
                <MudItem md="1" Class="mt-3">
                    @if (!_editMode)
                    {
                        <MudFab StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary" @onclick="SetEditMode" Size="Size.Small"></MudFab>
                    }

                </MudItem>
            </MudGrid>
        </MudContainer>

        <MudDivider/>

        <MudContainer Fixed="true" Class="pt-4">
            <EditForm Model="@_winery" OnValidSubmit="HandleValidSubmit" Context="editContext">
                <MudTextField @bind-Value="_winery.Name"
                              Label="Name"
                              Disabled="!_editMode"
                              For="@(() => _winery.Name)"
                              Class="mt-3"/>

                <MudTextField @bind-Value="_winery.Description" Label="Description" Disabled="!_editMode" Class="mt-3"/>

                <MudSelect @bind-Value="_winery.Country"
                           Label="Country"
                           Disabled="!_editMode"
                           Class="mt-5">
                    @foreach (var item in _countries)
                    {
                        <MudSelectItem T="CountryDto" Value="item">@item.Name</MudSelectItem>
                    }
                </MudSelect>

                <div class="mt-4">
                    @if (!_editMode)
                    {
                        <MudButton ButtonType="ButtonType.Button"
                                   Variant="Variant.Outlined"
                                   StartIcon="@Icons.Material.Outlined.ArrowBack"
                                   Color="Color.Primary"
                                   OnClick="Back">
                            Back
                        </MudButton>
                        <MudButton ButtonType="ButtonType.Button"
                                   Variant="Variant.Outlined"
                                   StartIcon="@Icons.Material.Outlined.Add"
                                   Color="Color.Primary"
                                   OnClick="AddWine">
                            Add wine
                        </MudButton>
                    }
                    @if (_editMode)
                    {
                        <MudButton Class="ml-4"
                                   ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Outlined.Save"
                                   Color="Color.Primary">
                            Save
                        </MudButton>
                    }
                </div>
            </EditForm>

            @if (!_editMode)
            {
                <div class="mt-4">
                    <WinesTable Wines="_wines" OnDeleteWine="DeleteWine" OnOpenWine="OpenWine"/>
                </div>
            }
        </MudContainer>
    </Authorized>
</AuthorizeView>