@page "/Administration/Grapes/{id:int}"
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Kave - Administration - Grapes</PageTitle>

<AuthorizeView Policy="AdminRole">
    <Authorized>

        <MudContainer Fixed="true">
            <MudGrid>
                <MudItem md="11">
                    <MudText Typo="Typo.h4" Class="mt-3 mb-2">@_grape.Name</MudText>
                </MudItem>
                <MudItem md="1" Class="mt-3">
                    @if (!_editMode)
                    {
                        <MudFab StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary" @onclick="SetEditMode" Size="Size.Small"></MudFab>
                    }

                </MudItem>
            </MudGrid>
        </MudContainer>

        <MudDivider/>

        <MudContainer Fixed="true" Class="pt-4">
            <EditForm Model="@_grape" OnValidSubmit="HandleValidSubmit" Context="editContext">
                <!-- Name -->
                <MudTextField @bind-Value="_grape.Name" Label="Name" Disabled="!_editMode" For="@(() => _grape.Name)" Class="mt-3"/>

                <!-- Description -->
                <MudTextField @bind-Value="_grape.Description" Label="Description" Disabled="!_editMode" Class="mt-3"/>

                <!-- Grape Type -->
                <MudSelect T="GrapeType"
                           @bind-Value="_grape.GrapeType"
                           Placeholder="Select grape type"
                           Label="Type"
                           Disabled="!_editMode"
                           For="@(() => _grape.GrapeType)"
                           Class="pt-5">
                    @foreach (var item in Enum.GetValues(typeof(GrapeType)))
                    {
                        <MudSelectItem T="GrapeType" Value="(GrapeType)item">@item</MudSelectItem>
                    }
                </MudSelect>

                <div class="mt-4">
                    <MudButton ButtonType="ButtonType.Button"
                               Variant="Variant.Outlined"
                               StartIcon="@Icons.Material.Outlined.ArrowBack"
                               Color="Color.Primary"
                               OnClick="Back">
                        Back
                    </MudButton>
                    @if (_editMode)
                    {
                        <MudButton Class="ml-4"
                                   ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Outlined.Save"
                                   Color="Color.Primary">
                            Save
                        </MudButton>
                    }
                </div>
            </EditForm>
        </MudContainer>

    </Authorized>
</AuthorizeView>